<%= render 'shared/logo' %>

<div class="container">
  <h1 style="text-align: center;">New Post</h1>

  <%= render 'form', wiki_post: @wiki_post %>

  <div style="text-align: center; margin-top: 20px;">
    <%= link_to "Back to Posts", wiki_posts_path, class: "button button-secondary" %>
  </div>
</div>
