<h1>Quiki the Rails Wiki</h1>
<p>Quiki is a place for you to write and share your knowledge with the world about Rails, AI, and other technologist findings.</p>

<ul>
  <li><%= link_to 'About this Wiki', welcome_about_path %></li>
  <li><%= link_to 'Quiki Posts', wiki_posts_path %></li>
</ul>
